<div class="content">
    <!-- Detalles del Aula -->
    <h1>Detalles del Aula</h1>
    <h2><%= aula.name %></h2>
    <p>Profesor: <%= aula.email_profesor %></p>

    <!-- Páginas del Aula -->
    <h1>Páginas de <%= aula.name %></h1>
    <button onclick="window.location.href='/aula/<%= aula.id %>/paginas/nueva'">Crear Nueva Página</button>
    <div class="pages-list">
        <% if (paginas.length > 0) { %>
            <% paginas.forEach(pagina => { %>
                <div class="page">
                    <h2><%= pagina.titulo %></h2>
                    <p><%= pagina.texto %></p>
                    <% if (pagina.foto) { %>
                        <img src="<%= pagina.foto %>" alt="Foto de la página" width="200">
                    <% } %>
                    <button onclick="window.location.href='/aula/<%= aula.id %>/paginas/<%= pagina.id %>/editar'">
                        Editar Página
                    </button>
                </div>
            <% }) %>
        <% } else { %>
            <p>No hay páginas creadas para este aula.</p>
        <% } %>
    </div>
</div>
